@import "variables";
@import "mixins";

footer {
  background-color: $bg-secondary;
  color: $text-secondary;
  line-height: 1.8em;
}

.footer__links {
  padding-bottom: 0;

  @include mq-small {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include mq-medium {
    padding-bottom: $padding-large;
  }

  div {
    margin-bottom: $padding-medium;

    &:last-of-type {
      display: flex;
      width: 100%;

      @include mq-small {
        justify-content: center;
      }

      @include mq-medium {
        display: block;
        width: auto;
      }

      a {
        opacity: 1;

        &:first-of-type {
          margin-right: $padding-small;
        }
      }
    }

    @include mq-medium {
      margin-bottom: 0;
    }
  }

  a {
    display: block;
    color: inherit;
    opacity: .6;

    &:first-of-type {
      opacity: 1;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__end {
  padding-top: 0;

  @include mq-small {
    text-align: center;
  }

  address {
    opacity: .4;
  }

  span {
    opacity: .2;
  }
}
