@import "variables";
@import "mixins";

footer {
  background-color: $bg-primary-dark;
  line-height: 2em;
}

.footer__links {
  padding-bottom: 0;

  @include mq-small {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include mq-medium {
    padding-bottom: $padding-large;
  }

  div {
    margin-bottom: $padding-medium;

    &:last-of-type {
      display: flex;
      width: 100%;

      @include mq-small {
        justify-content: center;
      }

      @include mq-medium {
        display: block;
        width: auto;
      }

      a {
        opacity: 1;

        &:first-of-type {
          margin-right: $padding-small;
        }
      }
    }

    @include mq-medium {
      margin-bottom: 0;
    }
  }

  a {
    display: block;
    color: inherit;
    opacity: .6;

    &:first-of-type {
      opacity: 1;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__end {
  padding-top: 0;
  padding-bottom: $padding-large;

  @include mq-small {
    text-align: center;
  }
}

.footer__end-top {
  opacity: .6;
}

.footer__end-middle {
  opacity: .4;
}

.footer__end-bottom {
  opacity: .2;
}

.footer__logos {
  padding-top: 0;

  img {
    height: 4rem;
  }

  @include mq-small {
    display: flex;
    justify-content: center;
  }
}
