@import "variables";
@import "mixins";

header {
  @include mq-medium {
    padding-top: $padding-small;
  }
}

h1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: $padding-small $padding-medium;
  background-color: $bg-primary;
  z-index: $z-middle-top;

  @include mq-medium {
    position: relative;
    padding: $padding-small 0 0;
    background-color: inherit;
    text-align: center;
  }

  a {
    display: block;
    width: auto;
    text-transform: uppercase;
  }

  img {
    height: $header-icon-height;

    @include mq-small {
      margin: 0 auto;
    }

    @include mq-medium {
      height: 2.4rem;
    }
  }
}

.nav-toggle {
  position: fixed;
  top: 0;
  right: 0;
  padding: $padding-small $padding-medium;
  z-index: $z-top-top;

  img {
    height: $header-icon-height;
  }

  @include mq-medium {
    display: none;
  }
}

h2 {
  display: none;

  @include mq-medium {
    // display: block;
    margin-top: -.4em;
    font-size: 1.1em;
    font-weight: 300;
  }
}
