@import "variables";

.button {
  display: inline-block;
  padding: .2em 2.2em 0;
  border-radius: $border-radius;
  background-color: $bg-secondary;
  transition: background-color .2s;
  color: $text-secondary;
  font-size: 1.2em;
  font-weight: $font-weight-bold;
  line-height: 3.3rem;

  &:hover {
    background-color: $bg-secondary-dark;
  }

  &.button-secondary {
    background-color: $bg-primary;
    color: $text-primary;

    &:hover {
      background-color: $bg-primary-dark;
    }
  }

  &.button-accent {
    background-color: $accent-primary-dark;
    color: $text-secondary;

    &:hover {
      background-color: $accent-primary-darker;
    }
  }

  svg {
    position: relative;
    top: .2em;
  }
}
