<footer>
  <section class="footer__links">
    <div>
      <a href="/what-we-do/">What We Do</a>
      <a href="/ski-resort-program/">Ski Resort Program</a>
      <a href="/clothing-drives/">Clothing Drives</a>
      <a href="/personal-care-product-drives/">Personal Care Product Drives</a>
    </div>
    <div>
      <a href="/our-story/">Our Story</a>
      <a href="/our-people/">Our People</a>
      <a href="/partners/">Partners</a>
      <a href="/supporters-and-recipients/">Supporters &amp; Recipients</a>
      <a href="/annual-reports/">Annual Reports</a>
      <a href="/press/">Press</a>
    </div>
    <div>
      <a href="/volunteer/">Volunteer</a>
      <a href="/volunteer-resources/">Volunteer Resources</a>
    </div>
    <div>
      <a href="/donate/">Donate</a>
      <a href="/contact/">Contact</a>
    </div>
  </section>
  <section class="footer__end">
    <address>
      1250-I Newell Avenue, Suite 133<br>
      Walnut Creek, CA 94596
    </address>
    <span>209-258-4523 | <a>info@warmwinters.org</a> | Certified 501(c)(3)</span>
  </section>
</footer>
