<footer>
  <section class="footer__links">
    <ul>
      <li><a href="/what-we-do/">What We Do</a></li>
      <li><a href="/ski-resort-program/">Ski Resort Program</a></li>
      <li><a href="/clothing-drives/">Clothing Drives</a></li>
      <li><a href="/personal-care-product-drives/">Personal Care Product Drives</a></li>
    </ul>
    <ul>
      <li><a href="/our-story/">Our Story</a></li>
      <li><a href="/our-people/">Partners</a></li>
      <li><a href="/supporters/">Supporters</a></li>
      <li><a href="/annual-reports/">Annual Reports</a></li>
      <li><a href="/press/">Press</a></li>
    </ul>
    <ul>
      <li><a href="/volunteer/">Volunteer</a></li>
      <li><a href="/volunteer-signup/">Volunteer Signup</a></li>
      <li><a href="/ski-resort-signup/">Ski Resort Signup</a></li>
      <li><a href="/volunteer-resources/">Volunteer Resources</a></li>
    </ul>
    <ul>
      <li><a href="/donate/">Donate</a> <a href="/contact/">Contact</a></li>
    </ul>
  </section>
  <section class="footer__end">
    <address>
      1250-I Newell Avenue, Suite 133<br>
      Walnut Creek, CA 94596
    </address>
    <span>Certified 501(c)(3)</span>
  </section>
</footer>
