<!doctype html>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="HandheldFriendly" content="true">
<meta name="theme-color" content="{{ .Site.Params.ThemeColor }}">

<title>{{ .Title }}</title>
<meta name="description" content="{{ .Description }}">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">

<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="/favicon-16x16.png" type="image/png" sizes="16x16">
<link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<link rel="stylesheet" href="/bundle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/themes/odometer-theme-minimal.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700">

<script src="https://www.googletagmanager.com/gtag/js?id=UA-36603722-7" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/odometer.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.0.3/stickyfill.min.js" defer></script>
<script src="https://e.issuu.com/embed.js" defer></script>
<script src="/lib/in-viewport.min.js" defer></script>
<script src="/bundle.js" defer></script>

<script>
  window.dataLayer = [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-36603722-7');
</script>

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/google_analytics_async.html" . }}
