<nav>
  <ul>
    {{ $currentPage := . }}

    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active-child{{ end }}{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
          <a href="{{ .URL }}"><span>{{ .Name }}</span></a>

          <ul>
            {{ range .Children }}
              <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL }}"><span>{{ .Name }}</span></a>
              </li>
            {{ end }}
          </ul>
        </li>
      {{ else }}
        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
          <a href="{{ .URL }}"><span>{{ .Name }}</span></a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
