@import "variables";
@import "mixins";

.hero {
  width: 100%;
  background: url("img/concrete-bed.jpg") no-repeat center left;
  background-size: cover;
  background-color: $bg-secondary;

  @include mq-small {
    text-align: center;
  }

  @include mq-medium {
    background-position: center;
  }

  p {
    color: $white;
    font-family: $font-primary;
    font-size: 2.2em;
    font-weight: $font-weight-bold;
    line-height: 1.4em;

    @include mq-small {
      line-height: 1.5em;
    }

    @include mq-medium {
      font-size: 2.75em;
    }

    @include mq-large {
      font-size: 3em;
    }
  }

  a {
    margin-top: $padding-medium;

    &:first-of-type {
      margin-right: $padding-small;

      @include mq-small {
        margin-right: $padding-medium;
      }
    }
  }
}

.intro {
  background-color: $bg-primary-dark;

  @include mq-small {
    text-align: center;
  }

  p {
    margin: $padding-medium 0;

    @include mq-small {
      font-size: 1.15em;
    }

    @include mq-medium {
      font-size: 1.55em;
    }
  }
}

.impact {
  background: url("img/mountain.jpg") no-repeat center center;
  background-size: cover;
  background-color: $bg-secondary;
  color: $text-secondary;

  @include mq-small {
    text-align: center;
  }

  div {
    @include mq-small {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    @include mq-medium {
      justify-content: space-between;
    }
  }

  a {
    display: block;
    margin-top: $padding-large;
    color: inherit;

    @include mq-small {
      width: 50%;
    }

    @include mq-medium {
      width: auto;
    }
  }

  svg {
    width: 3em;
    height: 3em;
  }

  h4 {
    margin: $padding-small 0 $padding-smaller;
    font-size: 2.4em;
  }

  span {
    font-size: 1.2em;
    line-height: 1.6em;
  }
}

.stay-updated {
  @include mq-small {
    text-align: center;
  }

  input {
    display: block;
    width: 100%;
  }

  form,
  ul {
    margin-top: $padding-large;
  }

  form {
    max-width: 32rem;
    margin-right: auto;
    margin-left: auto;

    @include mq-small {
      display: flex;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;

    @include mq-small {
      justify-content: center;
    }
  }

  li {
    text-align: center;

    @include mq-small {
      margin: 0 $padding-small;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    display: block;
    width: 1.3em;
    height: 1.3em;
    margin: 0 auto $padding-smaller;
    vertical-align: text-bottom;

    @include mq-small {
      display: inline;
      margin-right: $padding-smaller;
      margin-bottom: 0;
    }
  }

  .text-input {
    text-align: center;

    @include mq-small {
      border-right: none;
    }
  }

  .button {
    margin-top: $padding-small;

    @include mq-small {
      width: auto;
      margin: 0;
    }
  }

  @include mq-small {
    text-align: center;
  }
}

