@import "variables";
@import "mixins";

.hero {
  position: relative;
  width: 100%;
  background-color: $bg-secondary;
  overflow: hidden;

  @include mq-small {
    text-align: center;
  }

  @include mq-large {
    border-radius: $border-radius $border-radius 0 0;
  }

  &>div {
  }

  .button {
    @include mq-small {
      margin: 0 $padding-small;
    }
  }
}

.hero-bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s;

  div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;

    @include mq-medium {
      background-position: center;
    }
  }
}

.hero-content-wrapper {
  position: relative;
  z-index: 4;

  p {
    color: $white;
    font-family: $font-primary;
    font-size: 1.8em;
    font-weight: $font-weight-bold;
    line-height: 1.4em;

    @include mq-small {
      font-size: 2em;
      line-height: 1.5em;
    }

    @include mq-medium {
      font-size: 2.8em;
    }

    @include mq-large {
      font-size: 3em;
    }
  }

}

.intro {
  background-color: $bg-primary-dark;

  @include mq-small {
    text-align: center;
  }

  p {
    max-width: 25em;
    margin: 0 auto $padding-medium;
  }
}

.impact {
  background: url("img/mountain.jpg") no-repeat center center;
  background-size: cover;
  background-color: $bg-secondary;
  color: $text-secondary;

  @include mq-small {
    text-align: center;
  }

  @include mq-large {
    border-radius: 0 0 $border-radius $border-radius;
  }

  div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mq-medium {
      justify-content: center;
    }

    @include mq-medium {
      justify-content: space-between;
    }
  }

  a {
    display: block;
    margin-top: $padding-large;
    color: inherit;

    &:nth-of-type(even) {
      width: 43%;
    }

    &:nth-of-type(odd) {
      width: 57%;
    }

    &:nth-of-type(even),
    &:nth-of-type(odd) {
      @include mq-small {
        width: 50%;
      }

      @include mq-medium {
        width: auto;
      }
    }
  }

  svg {
    width: 3em;
    height: 3em;
  }

  h3,
  h4 {
    color: inherit;
  }

  h4 {
    margin: $padding-smaller 0;
    font-size: 1.6rem;
    letter-spacing: .1em;

    @include mq-medium {
      font-size: 2rem;
    }
  }

  a>span {
    display: block;
    line-height: 1.4em;
    font-size: 1rem;
    font-weight: $font-weight-normal;
    letter-spacing: 0;

    @include mq-small {
      font-size: 1.1rem;
    }
  }
}

.stay-updated {
  @include mq-small {
    text-align: center;
  }

  input {
    display: block;
    width: 100%;
  }

  form,
  ul {
    margin-top: $padding-large;
  }

  form {
    max-width: 32rem;
    margin-right: auto;
    margin-left: auto;

    @include mq-small {
      display: flex;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;

    @include mq-small {
      justify-content: center;
    }
  }

  li {
    @include mq-small {
      margin: 0 $padding-small;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    display: inline;
    width: 1.3em;
    height: 1.3em;
    margin-right: $padding-smaller;
    vertical-align: text-bottom;
  }

  .text-input {
    text-align: center;

    @include mq-small {
      border-right: none;
      border-radius: $border-radius 0 0 $border-radius;
    }
  }

  .button {
    margin-top: $padding-small;

    @include mq-small {
      width: auto;
      margin: 0;
      border-radius: 0 $border-radius $border-radius 0;
    }
  }
}

