@import "variables";
@import "mixins";

.single-section {
  padding-top: $padding-medium;

  @include mq-medium {
    padding-top: $padding-large;
  }

  h3 {
    margin-bottom: $padding-medium;
    line-height: 1.6em;
  }

  h4 {
    margin-top: $padding-large;
  }
}

.intro-text {
  @include mq-small {
    font-size: 1.2em;
  }

  @include mq-medium {
    font-size: 1.3em;
    text-align: center;
  }
}

.paragraph-text {
  max-width: $text-width;
  margin: $padding-medium auto 0;
  color: $text-primary-light;

  @include mq-medium {
    font-size: .9em;
    text-align: justify;
  }
}

.paragraph-figure {
  margin: $padding-large 0;
}

.what-we-do-links {
  padding-top: $padding-large;

  @include mq-small {
    display: flex;
    justify-content: space-between;
  }

  a {
    display: block;
    position: relative;
    width: 100%;
    height: 10rem;
    margin-top: $padding-large;
    transition: transform .2s;
    border-radius: $border-radius;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    &:hover {
      transform: scale(1.02);
    }

    &:first-of-type {
      margin-top: 0;
    }

    @include mq-small {
      margin: 0 $padding-medium 0 0;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  h4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: $padding-medium;
    background-color: rgba(0, 0, 0, .5);
    color: $white;
    line-height: 1.3em;
    text-align: center;
  }
}

.our-approach {
  margin-top: $padding-medium;

  h5 {
    margin-top: $padding-medium;

    &:first-of-type {
      margin-top: 0;
    }
  }

  div {
    &:first-of-type {
      @include mq-medium {
        order: 2;
        width: 50%;
        margin-left: $padding-medium;
      }
    }

    &:last-of-type {
      width: 100%;
      height: 100vw;
      margin-top: $padding-large;
      border-radius: $border-radius;
      background-size: cover;
      background-position: center;

      @include mq-medium {
        width: 50%;
        height: auto;
        margin-top: 0;
      }
    }
  }

  @include mq-medium {
    display: flex;
  }
}

.big-stat {
  margin-top: $padding-larger;

  @include mq-medium {
    margin-top: $padding-largest;
  }

  h4 {
    margin-bottom: 0;
  }

  span {
    display: block;
    color: $accent-primary;
    font-size: 4em;
    line-height: 1em;
  }
}

.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  div {
    width: 55%;
    padding-top: $padding-large;

    @include mq-small {
      width: 45%;
      padding: $padding-large $padding-medium 0;
    }

    @include mq-medium {
      width: 35%;
    }
  }

  img {
    width: 100%;
    margin-bottom: $padding-small;
    border-radius: 50%;
  }

  span {
    display: block;
    font-size: .9em;
    line-height: 1.4em;
  }

  .people__founder {
    width: 75%;
    padding-top: 0;

    @include mq-small {
      width: 55%;
    }

    @include mq-medium {
      width: 45%;
    }
  }
}

.link-list-list {
  max-width: $text-width;
  margin: $padding-medium auto 0;
  column-count: 2;

  @include mq-small {
    column-count: 4;
    column-gap: $padding-medium;
  }

  li {
    break-inside: avoid-column;
  }
}

.link-list {
  li:last-of-type {
    margin-bottom: $padding-small;
  }

  a {
    display: block;
    font-size: .8em;
    line-height: 2em;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    position: relative;
    top: -.15em;
    width: .7em;
    vertical-align: middle;
  }
}
