@import "variables";
@import "mixins";

.single-section {
  padding-top: $padding-medium;

  @include mq-medium {
    padding-top: $padding-large;
  }

  h4 {
    margin-top: $padding-large;

    @include mq-medium {
      margin-top: $padding-larger;
    }
  }
}

.paragraph-figure {
  margin: $padding-large 0;
}

.what-we-do-links {
  max-width: $content-width-small;
  margin: 0 auto;
  padding-top: $padding-large;

  a {
    display: block;
    position: relative;
    width: 100%;
    height: 10rem;
    margin-top: $padding-large;
    transition: transform .2s;
    border-radius: $border-radius;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    &:hover {
      transform: scale(1.05);
    }

    &:first-of-type {
      margin-top: 0;
    }

    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: $padding-medium;
      background-color: rgba(0, 0, 0, .5);
      color: $white;
      line-height: 1.3em;
      text-align: center;
    }
  }
}

.our-approach {
  max-width: $content-width-small;
  margin: $padding-medium auto 0;

  @include mq-medium {
    display: flex;
    max-width: 100%;
  }
}

.our-approach__steps {
  @include mq-medium {
    order: 2;
    width: 50%;
    margin-left: $padding-larger;
  }

  h5 {
    margin-top: $padding-medium;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.our-approach__step {
  display: flex;
  margin-bottom: $padding-medium;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.our-approach__step-num {
  position: relative;
  flex-shrink: 0;
  width: 1.5rem;
  margin-right: $padding-small;
  font-size: 3rem;
  color: $bg-primary-hella-darker;
  text-align: right;

  @include mq-medium {
    width: 2rem;
    text-align: center;

    &:before {
      content: ' ';
      position: absolute;
      top: -.3em;
      left: -.3em;
      z-index: -1;
      display: block;
      text-align: center;
      width: 1.7em;
      height: 1.7em;
      border-radius: 50%;
      background-color: $bg-primary-dark;
    }
  }
}

.our-approach__image {
  width: 100%;
  height: 100vw;
  margin-top: $padding-large;
  border-radius: $border-radius;
  background-size: cover;
  background-position: center;

  @include mq-medium {
    width: 50%;
    height: auto;
    margin-top: 0;
    margin-bottom: $padding-smallest;
  }
}

.big-stat {
  margin-top: $padding-larger;
  text-align: center;

  @include mq-medium {
    margin-top: $padding-largest;
  }

  h4 {
    margin-bottom: 0;
  }

  span {
    display: block;
    color: $accent-primary;
    font-size: 4em;
    line-height: 1em;
  }
}

.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: $content-width-smaller;
  margin: 0 auto;
  text-align: center;

  a {
    display: block;
    width: 14rem;
    margin: $padding-medium auto $padding-small;

    &:hover img {
      opacity: 1;
      transform: scale(1);
    }

    @include mq-small {
      width: 11.5rem;
      margin: 0;
      padding: $padding-large 0 0;
    }
  }

  img {
    width: 100%;
    margin: 0 auto $padding-small;
    border-radius: 50%;
    opacity: .9;
    transform: scale(.95);
    transition: opacity .2s, transform .2s
  }

  span {
    display: block;
    font-size: .8em;
    line-height: 1.6em;
  }

  .people__founder {
    margin: $padding-small auto 0;
    padding-top: 0;
  }

  .people__dangling {
    @include mq-small {
      width: 100%;

      img {
        width: 11.5rem;
      }
    }
  }
}

.link-list-list {
  margin: $padding-medium auto $padding-small * -1;
  column-count: 2;

  @include mq-small {
    column-count: 3;
    column-gap: $padding-large;
    max-width: $content-width-smaller;
  }

  @include mq-medium {
    column-count: 5;
    max-width: 100%;
  }

  li {
    break-inside: avoid-column;
    white-space: nowrap;
  }
}

.link-list-list-wide {
  column-count: 1;

  @include mq-small {
    column-count: 2;
  }

  @include mq-medium {
    column-count: 4;
  }
}

.link-list,
.link-list-single,
.link-list-simple {
  li {
    &:last-of-type {
      margin-bottom: $padding-small;
    }
  }

  a {
    display: block;
    font-size: .8em;
    line-height: 2em;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    position: relative;
    top: -.15em;
    width: .7em;
    vertical-align: middle;
  }
}

.link-list-simple {
  max-width: $content-width-smaller;
  margin: $padding-medium auto 0;
  font-size: 1.2em;

  @include mq-small {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  li {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.issuuembed-container {
  position: relative;
  width: 100%;
  height: 60vw;
  margin-top: $padding-medium;
  background-color: $bg-primary-darker;
  overflow: hidden;

  @include mq-medium {
    height: 50vw;
  }

  @include mq-large {
    height: 600px;
  }
}

.issuuembed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -30px;
}

.press-hero {
  @include mq-medium {
    display: flex;
    justify-content: space-between;
  }

  &>div {
    @include mq-medium {
      width: calc(50% - #{$padding-small});
    }
  }

  &>div>div {
    margin-top: $padding-medium;
  }
}

.donate-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: $padding-medium;

  form {
    width: 100%;
    margin: 1em 0 0;
    text-align: center;

    &:first-of-type {
      margin-top: 0;
    }

    @include mq-small {
      width: auto;
      margin: 0 .5em;
    }
  }

  input {
    width: 100%;
  }
}

.downloads {
  @include mq-small {
    display: flex;
    justify-content: space-between;
  }

  h5 {
    margin-top: $padding-medium;
  }

  .link-list-simple {
    max-width: $content-width;
    margin-top: 0;
  }
}

.gallery {
  display: flex;
  margin-top: $padding-larger;

  @include mq-medium {
    margin-top: $padding-largest;
  }

  img {
    width: 100%;
    margin-bottom: $padding-medium;
    border-radius: $border-radius;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.gallery__column {
  width: 50%;
  margin-right: $padding-medium;

  &:last-of-type {
    margin-right: 0;
  }
}
