@import "variables";

.button {
  display: inline-block;
  margin-top: $vertical-padding-smaller;
  padding: 1em 2em;
  background-color: $bg-secondary;
  color: $text-secondary;
  font-size: 1em;

  &:hover {
    transform: scale(1.04);
  }
}
