@import "variables";
@import "mixins";

.noscroll {
  overflow: hidden;

  @include mq-medium {
    overflow: auto;
  }
}

.text-center {
  text-align: center;
}

.m-0 {
  margin: 0;
}

.small-break {
  display: none;

  @include mq-small {
    display: block;
  }
}
