@import "variables";
@import "mixins";

.hero {
  width: 100%;
  background: url("img/concrete-bed.jpg") no-repeat center left;
  background-size: cover;
  background-color: $bg-secondary;

  @include mq-small {
    text-align: center;
  }

  @include mq-medium {
    background-position: center;
  }

  p {
    color: $white;
    font-family: $font-primary;
    font-size: 2.2em;
    font-weight: $font-weight-bold;
    line-height: 1.4em;

    @include mq-small {
      line-height: 1.5em;
    }

    @include mq-medium {
      font-size: 3em;
    }
  }

  a {
    margin-top: $padding-medium;

    &:first-of-type {
      margin-right: $padding-small;

      @include mq-small {
        margin-right: $padding-medium;
      }
    }
  }
}

.intro {
  background-color: $bg-primary-dark;

  @include mq-small {
    text-align: center;
  }

  p {
    margin: $padding-medium 0;
    font-size: .95em;

    @include mq-small {
      font-size: 1em;
    }

    @include mq-medium {
      font-size: 1.5em;
    }
  }
}

.impact {
  background: url("img/mountain.jpg") no-repeat center center;
  background-size: cover;
  background-color: $bg-secondary;
  color: $text-secondary;

  @include mq-small {
    text-align: center;
  }

  div {
    @include mq-small {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    @include mq-medium {
      justify-content: space-between;
    }
  }

  a {
    display: block;
    margin-top: $padding-large;
    color: inherit;

    @include mq-small {
      width: 50%;
    }

    @include mq-medium {
      width: auto;
    }
  }

  svg {
    width: 3em;
    height: 3em;
  }

  h4 {
    margin: $padding-small 0 $padding-smaller;
    font-size: 2.4em;
  }
}

.stay-updated {
  @include mq-small {
    text-align: center;
  }
}
