@import "variables";

.text-input {
  padding: 0 1rem;
	border: solid 1px $bg-primary-darkest;
	background-color: $bg-primary-dark;
	transition: background-color .2s, border-color .2s;
  font-size: 1.2em;
	line-height: 3.6rem;

	&:focus {
		background-color: $white;
	}
}

