@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

html {
  background-color: $bg-primary;
  color: $text-primary;
  font-family: $font-primary;
  font-size: 4vw;

  @include mq-small {
    font-size: 2.4vw;
  }

  @include mq-medium {
    font-size: 1.55vw;
  }

  @include mq-large {
    font-size: 19px;
  }
}

body {
  margin: 0;
  padding: $header-height 0 0;

  @include mq-medium {
    padding: 0;
  }
}

a {
  color: $text-primary;
  text-decoration: none;
}

input,
button {
  outline: none;
  appearance: none;
  border: none;
  font-family: $font-primary;
}

input[type="submit"] {
  cursor: pointer;
}

button {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  letter-spacing: .02em;
}

h3 {
  position: relative;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include mq-small {
    text-align: center;
  }
}

h4 {
  font-size: 1.3em;
  line-height: 1.6em;

  @include mq-small {
    text-align: center;
  }
}

h5 {
  font-size: .9em;
  line-height: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  margin: 0;
  font-family: $font-secondary;
  font-size: 1.1em;
}

img {
  display: block;
}

section {
  max-width: $content-width;
  margin: 0 auto;
  padding: $padding-larger $padding-medium;

  @include mq-medium {
    padding: $padding-largest;
  }

  p {
    line-height: 2em;
  }
}

figure {
  margin: 0;

  img {
    width: 100%;
    border-radius: $border-radius;
  }
}

figcaption {
  margin-top: $padding-small;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#instantclick-bar {
  background: $accent-primary;
}
