// base colors
$black: #010101;
$white: #fefefe;
$off-black: #35383F;
$blue: #95D0F2;
$dark-blue: #31425A;
$purple: #949cef;

// theme colors
$bg-primary: $white;
$bg-primary-dark: darken($bg-primary, 2%);
$bg-primary-darker: darken($bg-primary, 4%);
$bg-primary-darkest: darken($bg-primary, 6%);
$bg-primary-hella-darker: darken($bg-primary, 10%);
$bg-secondary: $off-black;
$bg-secondary-dark: darken($bg-secondary, 5%);
$text-primary: $off-black;
$text-primary-light: lighten($text-primary, 5%);
$text-secondary: $white;
$accent-primary: $blue;
$accent-primary-dark: darken($blue, 5%);
$accent-primary-darker: darken($blue, 10%);
$accent-secondary: $dark-blue;

// fonts
$font-primary: "Josefin Sans", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

// boxes
$padding-medium: 2.1rem;
$padding-small: $padding-medium * .5;
$padding-smaller: $padding-small * .5;
$padding-smallest: $padding-smaller * .5;
$padding-large: $padding-medium * 1.5;
$padding-larger: $padding-large * 1.5;
$padding-largest: $padding-larger * 1.5;
$header-icon-height: 1.7rem;
$header-height: $padding-medium + $header-icon-height;
$border-radius: 5px;

// layers
$z-middle: 500;
$z-middle-top: 750;
$z-top: 999;
$z-top-top: 1000;

// media queries
$content-width: 1200px;
$content-width-small: 27rem;
$mq-small: 500px;
$mq-medium: 900px;
$mq-large: $content-width;
$mq-xlarge: 1400px;
