$white: #fff;
$off-black: #35383F;
$blue: #95D0F2;
$purple: #949cef;

$bg-primary: $white;
$bg-primary-dark: darken($white, 4%);
$bg-secondary: $off-black;
$text-primary: $off-black;
$text-secondary: $white;
$accent-primary: $blue;
$accent-secondary: $purple;

$border-radius: 7px;

$bp-large: 1200px;
$content-width: 900px;

$vertical-padding-large: 9vh;
$vertical-padding-small: 2rem;
$vertical-padding-smaller: 1.5rem;
$horizontal-padding-large: 4rem;

html {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: $text-primary;
}

body {
  margin: 0;
}

a {
  color: $text-primary;
  text-decoration: none;
}

header {
  padding-top: $vertical-padding-large;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: .02em;
  text-align: center;
}

h1 {
  a {
    display: block;
    max-width: 19rem;
    margin: 0 auto;
    text-transform: uppercase;
  }
}

h2 {
  font-size: 1.3em;
  font-weight: 300;
}

h3 {
  position: relative;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
}

p {
  margin: 0;
}

nav {
  position: sticky;
  top: 0;
  margin: 1rem 0 -.5rem;
  z-index: 100;

  ul {
    margin: 0;
    padding: 0;
    background-color: $bg-primary;
    transition: visibility .2s, opacity .2s, transform .2s, box-shadow .2s;

    &>li {
      ul {
        position: absolute;
        margin-top: -$border-radius;
        margin-left: -.25em;
        padding: 0 .25em;
        border-radius: $border-radius;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.23);
        transform: translateY(-5px);
        visibility: hidden;
        opacity: 0;

        a {
          padding: .75em 1em;
        }

        li:first-of-type a {
          padding-top: 1.25em;
        }

        li:last-of-type a {
          padding-bottom: 1.25em;
        }
      }
    }
  }

  li {
    position: relative;
    list-style: none;

  }

  a {
    display: block;
    padding: 1em;
    font-family: "Merriweather", serif;
    font-size: .9em;
    white-space: nowrap;

    span {
      padding: 4px 0;
      border-bottom: solid 2px transparent;
      transition: color .2s;
    }

    &:hover span {
      color: $accent-primary;
    }
  }

  .active>a span {
    border-color: $accent-primary;
    color: $accent-primary;
  }
  
  &>ul {
    display: flex;
    justify-content: center;
  }

  &.hover li:hover {
    &>ul {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }
}

section {
  max-width: $content-width;
  margin: $vertical-padding-large auto;
  padding: 0 $horizontal-padding-large;

  p {
    margin-top: $vertical-padding-smaller;
    line-height: 1.9em;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24rem;
  padding-right: $vertical-padding-small;
  padding-left: $vertical-padding-small;
  border-radius: $border-radius;
  background: url("img/concrete-bed.jpg")  no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
  text-align: center;

  p {
    margin: 0;
    color: $white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 2.6em;
    line-height: 1.4em;
  }
}

.intro {
  text-align: center;

  p {
    padding: 0 $horizontal-padding-large;
    font-size: 1.3em;
  }
}

#instantclick-bar {
  background: $accent-primary;
}
